body {
  background: #345;
  color: white;
  text-shadow: 2px 2px black;
}

div {
  margin: 25px;
}

h1 {
  padding-left: 25px;
}

h2 {
  padding-left: 75px;
}

h3 {
  padding-left: 125px;
}

h4 {
  padding-left: 150px;
}

a {
  color: white;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

.border {
  border-style: outset;
  border-color: black;
  border-radius: 5px;
}

.content {
  width: 45%;
  height: 75%;
}

.projects {
  position: fixed;
  left: 27.5%;
  top: 9%;
  bottom: 9%;
}

.header {
  position: absolute;
  left:25%;
  right:25%;
  width: 50%;
  top: 10px;
  text-align: center;
  font-size: 25px;
  padding: 10px;
}

.footer {
  position: fixed;
  left:25%;
  right:25%;
  width: 50%;
  bottom: 0px;
}

.footer .left {
  position: absolute;
  top: 0px;
  text-align: left;
}

.footer .right {
  position: static;
  top: 0px;
  text-align: right;
}
